.container {
  padding: 0rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.main {
  min-height: 90vh;
  padding: 0rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.questionContainer {
  margin-top: 30px;
  padding: 40px;
}

.questionTitle {
  margin-bottom: 20px;
}

.questionTitle,
.questionSubTitle {
  text-align: center;
}

.questionSubTitle {
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Start the questions container styles */
.allAnswersContainer {
  display: flex;
  flex-wrap: wrap;
}

/* .icon-text-large {}

.icon-text-medium {}

.icon-text-small {} */

.icon-text-small .allAnswersContainer,
.icon-text-medium .allAnswersContainer {
  justify-content: center;
  height: 100%;
}

.answerContainer {
  margin: 0 30px 30px 0;
  width: calc(25% - 30px);
}

.answerContainerInner {
  height: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.icon-text-small .answerContainer,
.icon-text-medium .answerContainer {
  max-width: 170px;
}

.icon-text-medium .answerOther {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: unset;
}

.icon-text-medium .answerOther .answerContainerInner {
  width: 40%;
  max-width: 320px;
}

.icon-text-large .answerContainer {
  width: calc(33% - 50px);
  margin: 0 50px 50px 0;
}

.icon-text-large .answerContainer:last-child {
  margin: 0 0px 50px 0;
}

.answerContainer:hover .answerContainerInner {
  background-color: var(--accent-color);
}

.answerLabel {
  display: block;
  cursor: pointer;
  padding: 20px;
}

.icon-text-large .answerLabel {
  padding: 30px;
}

.hiddenInput {
  display: none;
}

.answerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.answerWrapper p {
  margin-top: 20px;
}

.answerWrapper h3,
.answerWrapper p {
  color: var(--text-light);
  text-align: center;
}

.questionIcon {
  margin-bottom: 20px;
}


/* End the questions container styles */

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 150px;
  cursor: pointer;
  padding: 15px;
  background: var(--light-grey);
  color: var(--text-light);
  border-radius: 10px;
}

.goBack:hover {
  background-color: var(--accent-color);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}