.container {
  padding: 0rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.main {
  min-height: 90vh;
  padding: 0rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  padding: 2rem 0 0 20px;
  justify-content: flex-start;
  align-items: center;
}

.questionContainer {
  margin-top: 30px;
  padding: 40px 40px 20px 40px;
}

.questionTitle {
  margin-bottom: 20px;
}

.questionTitle,
.questionSubTitle {
  text-align: center;
}

.questionSubTitle {
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hideElement {
  opacity: 0;
}

.showElement {
  opacity: 1;
}

/* Start the questions container Base styles */
.allAnswersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.allAnswersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.answerContainer {
  margin: 0 30px 30px 0;
  width: calc(25% - 30px);
}

.answerLabel {
  display: block;
  cursor: pointer;
  padding: 20px;
}

.answerContainerInner {
  height: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: all .10s linear;
}

.answerContainer:hover .answerContainerInner {
  background-color: var(--accent-color);
}

/* End the questions container Base styles */
/* Start the grey questions container styles */

/* .icon-text-large {}

.icon-text-medium {}

.icon-text-small {}

.text-no-icon*/

.icon-text-small .allAnswersContainer,
.icon-text-medium .allAnswersContainer {
  justify-content: center;
  height: 100%;
}

.icon-text-small .answerContainer,
.icon-text-medium .answerContainer {
  max-width: 170px;
}

.icon-text-medium .answerOther {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: unset;
}

.icon-text-medium .answerOther .answerContainerInner {
  width: 40%;
  max-width: 320px;
}

.icon-text-large .answerContainer {
  width: calc(33% - 50px);
  margin: 0 50px 50px 0;
}

.icon-text-large .answerContainer:last-child {
  margin: 0 0px 50px 0;
}

.icon-text-large .answerLabel {
  padding: 30px;
}

.text-no-icon .answerLabel {
  padding: 15px 10px;
}

.hiddenInput {
  display: none;
}

.answerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.answerWrapper h3 {
  margin-bottom: 20px;
}

.answerWrapper h3,
.answerWrapper p {
  color: var(--text-light);
  text-align: center;
}

.questionIcon {
  margin-bottom: 20px;
}

/* End the grey questions container styles */
/* Start Grey container with textarea */
.text-no-icon .allAnswersContainer {
  flex-direction: column;
  align-items: center;
}

.text-no-icon .allAnswersContainer textarea {
  width: 100%;
  resize: vertical;
  min-height: 200px;
  padding: 15px;
}

.text-no-icon .answerContainer {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0px 10px 0;
  overflow: hidden;
}

.text-no-icon .testmodal {
  padding: 30px 0 0 0;
  /*Height of the textarea plus the margin */
  margin-bottom: -220px;
  transition: margin-bottom .25s linear;
}

.text-no-icon .allAnswersContainer.selectedOption .notSelected {
  display: none !important;
}

.text-no-icon .answerContainer.selected .testmodal {
  margin-bottom: 20px;
}

.text-no-icon .testmodalContainer {
  display: flex;
}

/* End Grey container with textarea */
/* Start True or False Component Styles */
.trueOrFalse {
  flex-direction: column;
  justify-content: flex-start;
}

.trueOrFalse .answerContainer {
  margin: 0 15px 30px 15px;
  width: calc(50% - 60px);
  height: 45px;
}

.QuestionTrueOrFalseContainer {
  display: flex;
}

.trueOrFalse .answerContainer:nth-child(2n +1) .answerContainerInner {
  margin-left: auto;
  margin-right: 0;
}

.trueOrFalse .answerContainerInner {
  transition: all .10s linear;
  width: 130px;
}

.trueOrFalse .yesAnswer .answerContainerInner {
  background-color: var(--green);
  border: 2px solid transparent;
}

.trueOrFalse .noAnswer .answerContainerInner {
  background-color: var(--red);
  border: 2px solid transparent;
}

.trueOrFalse .noAnswer .answerContainerInner:hover,
.trueOrFalse .yesAnswer .answerContainerInner:hover {
  background-color: transparent;
}

.trueOrFalse .yesAnswer .answerContainerInner:hover {
  border: 2px solid var(--green);
}

.trueOrFalse .noAnswer .answerContainerInner:hover {
  border: 2px solid var(--red);
}

.trueOrFalse .yesAnswer .answerContainerInner:hover p {
  color: var(--green);
}

.trueOrFalse .noAnswer .answerContainerInner:hover p {
  color: var(--red);
}

.trueOrFalse .answerLabel {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

.trueOrFalse .answerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SVGmaskBefore {
  position: relative;
  padding-left: 25px;
}

.SVGmaskBefore::before {
  content: '';
  height: 15px;
  width: 15px;
  left: 0px;
  top: 3px;
  position: absolute;

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background: var(--white);
}

.trueOrFalse .yesAnswer .answerContainerInner .SVGmaskBefore::before {
  -webkit-mask-image: url('../public/answerSvgs/icon_tick.svg');
  mask-image: url('../public/answerSvgs/icon_tick.svg');
}

.trueOrFalse .noAnswer .answerContainerInner .SVGmaskBefore::before {
  -webkit-mask-image: url('../public/answerSvgs/icon_x.svg');
  mask-image: url('../public/answerSvgs/icon_x.svg');
}

.trueOrFalse .yesAnswer .answerContainerInner:hover .SVGmaskBefore::before {
  background: var(--green);
}

.trueOrFalse .noAnswer .answerContainerInner:hover .SVGmaskBefore::before {
  background: var(--red);
}

/* Sub questions */
.subQuestionContainer {
  width: 100%;
}

.subQuestionAnswersContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.subQuestionContainer .questionTitle {
  width: 100%;
}

.subQuestionContainer .questionTitle {
  margin-top: 50px;
}

/* End True or False Component Styles */
/* Start Post Code question Styles */
.PostCodeContainer {
  display: flex;
  flex-direction: column;
}

.PostCodeInputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}

.PostCodeInputContainer .otpField {
  margin-right: 10px;
  width: calc(20% - 50px);
  height: 50px;
  max-width: 90px;
  border: 0;
  border-bottom: 2px solid var(--light-grey);
  text-align: center;
  font-size: 1.2em;
  line-height: 1em;
}

.PostCodeInputContainer .otpField:focus {
  outline: none;
  border-bottom: 2px solid var(--accent-color);
}

/* End Post Code question Styles */
/* End the questions container styles */

.navigationBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  cursor: pointer;
  padding: 15px;
  background: var(--light-grey);
  color: var(--text-light);
  border-radius: 10px;
  transition: all .10s linear;
}

.goBack:hover {
  background-color: var(--accent-color);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}